/* ========================================= */
/* 1. STILI DI BASE (HTML, BODY, MAIN)       */
/* ========================================= */

*{
    font-family: myFont, sans-serif;
}


/* Impostazioni dello sfondo generale */
html {
    /* Assicurati che il percorso dell'immagine sia corretto */
    background-image: url(../image/background/montagna.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Stile dell'Header */
header {
    padding: 5px;
    text-align: center;
    font-size: 60px; 
    
    background-image: url(../image/background/banner.png);
    background-position: center center;
    background-attachment: fixed;
    color: rgb(255, 255, 255);

    margin-left: 40px;
    margin-right: 40px;
    border: rgb(76, 135, 158) outset 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 20px;
}

header h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: #000000;
    margin: -50px;
}

.footer-silviopedia {
    background-color: rgb(108, 183, 212);

    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border: 5px outset rgb(76, 135, 158);
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
}

@font-face {
  font-family: myFont;
  src: url(../Font/Katamari_King.ttf);
}
