/* ========================================= */
/* 1. STILI DI BASE (HTML, BODY, MAIN)       */
/* ========================================= */

/* Impostazioni dello sfondo generale */
html {
    /* Assicurati che il percorso dell'immagine sia corretto */
    background-image: url(../image/background/montagna.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Stile dell'Header */
header {
    padding: 5px;
    text-align: center;
    font-size: 60px; 
    /* Assicurati che "katamari_king" sia stato correttamente importato! */
    font-family: "katamari_king", sans-serif;
    
    background-image: url(../image/background/banner.png);
    background-position: center center;
    background-attachment: fixed;
    color: white;
}


.font-family{
    font-family: katamari_king, sans-serif;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: #000000;
    margin: -50px;
}

.footer-silviopedia {
    font-family: "katamari_king", sans-serif;
    background-color: #fff;

    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #696969;
    display: inline-block;
    padding: 10px 20px;
}