@import url(background.css);

/* Contenitore principale della pagina */
body {
    margin: 50px;  
    min-height: 100vh; /* Assicura che il body occupi almeno l'altezza della viewport */
}

/* Stile dell'Area Contenuto Principale */
main {
    margin: 50px;
    padding: 20px;
    font-family: katamari_king, sans-serif;
    font-size: 20px;
    display: flex; 
    flex-direction: column; /* Questo è fondamentale per il centramento orizzontale del link */
    min-height: 20vh; 
    /* Aggiungiamo un reset per sicurezza se ci fossero margini esterni sul main */
    box-sizing: border-box;
}


#image{
    align-items: left;
    border: white solid 1px;
    margin: 20px;
    width: 340px;
    height: 540px;
}

.container {
    display: flex;         
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px;             
    background-color: rgb(108, 183, 212);
}

.description {
    flex: 1;
    padding: 20px;
    margin: 20px;
    font-size: 25px;
    margin-top: -35px;
    text-align: left;
    margin-right: -550px;
}

.image img {

    flex-basis: 30%;

    max-width: 100%;       
    height: auto;
    display: block;        
}

h2 {
    text-align: left;
    font-size: 40px;
}

.back-link {
    
    margin-top: auto;
    align-self: center; /* Spinge l'elemento verso il basso */
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px; /* Spazio dal fondo della pagina */
}

#link {
    text-decoration: none;
    color: black;
    font-weight: bold;

    text-align: center;
    margin-right: 550px;
}
